body {
    text-align: justify;
    background: rgb(255, 255, 255);
}



.carton {
    width: 600px;
    height: 600px;

    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(218, 0, 0);
    margin-top: 50px;
    animation: borde 5s infinite;
    border: 2px solid; /* Necesario para que la animación de borde se vea */
}

.titulo {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 25px;
    margin-left: 0px;
    animation: titulo 5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.titulo p{
    margin-left: 40px;
    cursor: pointer;
}


.numero {
    border: 1px solid black;
    height: 91px;
    width: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    color: #000;
}

.numero.clicked {
    background-color: rgb(2, 2, 2);
    color: rgb(255, 255, 255); /* Para que el texto sea visible sobre el fondo negro */
    border-radius: 50%;
}

.boton {
    text-align: center;
    margin-top: 50px;
    margin-left: 430px;
}

.container_botones{
    margin-top: -600px;
    margin-left: 900px;
}

.cuadrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 2px solid #000;
    font-size: 45px;
    font-weight: bold;
    margin: 20px auto;
    margin-left: 610px; 
}

.Boton{
    background-color: transparent;
    margin: 10px;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    margin-left: 115px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: Boton 5s infinite;
}